[submodule "cmake"]
	path = cmake
	url = git@github.com:YzenaTech/YCMake.git
	branch = master
[submodule "lib/jemalloc"]
	path = lib/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
	branch = master
[submodule "scripts"]
	path = scripts
	url = https://github.com/YzenaTech/Yscripts
	branch = master
